@font-face {
    font-family: ploni-light;
    src: url('static/ploni/ploni-light-aaa.otf') format("opentype");
}

body {
    font-family: 'ploni-light', sans-serif;
}

header img {
    width: 17px;
    margin: 5px;
}

header #logo {
    font-size: 40pt;
    color: #FF8B00;
    padding: 0;
    margin: 0;
}

#logo,
#search-logo,
#cart-logo{
    display: none;
}

header {
    font-size: 14pt;
}

section {
    margin-top: 100px;
}

section .title {
    margin-bottom: 50px;
}

#product-details .container .title {
    margin-top: 0;
    margin-bottom: 20px;
}

#top-banner {
    font-size: 24pt;
    font-weight: bold;
    color: #FF9B00;
    margin-top: 40px;
    margin-bottom: 40px;
}

#top-banner p {
    margin: 0;
}

#product-details {
    text-align: center;
}

.title {
    font-size: 30pt;
    font-weight: bold;
}

#product-details .col .title {
    font-size: 24pt;
    font-weight: bold;
    color: #FF9B00;
}

#user-story {
    background-color: #7A7A78;
    color: white;
    font-size: 20pt;
    text-align: center;
    padding: 100px;
}

#recipes {
    text-align: center;
}

#recipes button {
    padding-right: 40px;
    padding-left: 40px;
}

#recipes .content {
    color: #FF9B00;
    font-size: 24pt;
    margin-top: 20px;
}

#contact {
    margin-bottom: 50px;
}

#contact .title {
    text-align: center;
}

#contact a {
    color: white;
}

#contact ul {
    padding: 100px;
    background-color: #7A7A78;
    color: white;
}

#contact form {
    color: #FF9B00;
    margin-bottom: 5px;
}

.footer img {
    width: 22px;
}

.banner-float {
    position: absolute;
    bottom: 34%;
    left: 4%;
}

#top-banner {
    position: relative;
}

#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('pic/loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
    opacity: .8;
}

/* bonus + jquery plug using : https://www.jqueryscript.net/other/Smooth-Page-Scroll-to-Top-with-jQuery.html */
.scrollup {
    width: 40px;
    height: 40px;
    opacity: 0.3;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url('./pic/icon_top.png') no-repeat;
}

#contact li {
    list-style: none;
}
#contact .phone {
    list-style-image:  url('pic/phone-icon.png');
}

#contact .mail {
    list-style-image: url('pic/mail-icon.png');
}

#contact .location {
    list-style-image: url('pic/location-icon.png');
}

#product-details p.content {
    width: 45%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

form .button-warped {
    text-align: center;
}

#contact button {
    padding-right: 40px;
    padding-left: 40px;
    margin:10px;
}

#nav-icons-top {
    flex: auto;
}